{% load i18n %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>{{ invoice }}</title>
        <meta name="description" content="" />
        <meta name="author" content="{{invoice.contractor.name|default:'django-invoice'}}" />
    </head>

    <body>
        <h1>{{ invoice }}</h1>
        <table width="190mm"> {# A4: 210x290mm #}
            <tr>
                <td width="80mm">{{invoice.contractor.as_text|linebreaksbr}}</td>
                <td width="80mm">{{invoice.subscriber.as_text|linebreaksbr}}</td>
            </tr>
        </table>
    </body>
</html>
